{% extends 'myapp/base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}"/>
{% endblock %}

{% block header-title %}<span class="friend"><header>友達</header></span>{% endblock %}

{% block content %}
<form method="get">
    <input type="search" value="{{ request.GET.query }}" name="query" type="text" placeholder="ユーザー名で検索">
    <button>検索</button>
</form>


    <table class="table">
        {% for item in message %}
        <a href="{% url 'talk_room' item.0.pk %}">koko</a>
        <img src="../media/{{item.0.img}}" height="100" width="100"></img>
        <p>{{ item.0.username }}</p>
        <p>{{ item.1.message }}</p>
        <p>{{ item.1.date }}</p>
        {% endfor %}
    </table>
    
    {% endblock %}
    
    
    {% comment %}
    <!-- {% block content %}
        <table class="table">
            
        </table>  -->
        <tr class="friends"><a href="{% url 'talk_room' item.0.pk %}">koko</a>
        <td><img class="img" src="../media/{{item.0.img}}" width="10" height="10"></img></td>
        <td class="username">{{item.0.username}}</td>
        <td class="message">{{item.1.message}}</td>
        <td>{{item.1.date}}</td>
        </tr>    
{% endcomment %}