{% extends 'myapp/base.html' %} 

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/setting.css' %}"/>
{% endblock %} 

{% block header-title %}<header class="settings">設定</header>{% endblock %}

{% block content %} 
<h1 class="user"><a href="{% url 'user' %}">ユーザー名変更</a></h1>
<h1 class="img"><a href="{% url 'img' %}">アイコン変更</a></h1>
<h1 class="mail"><a href="{% url 'mail' %}">メールアドレス変更</a></h1>
<h1 class="password"><a href="{% url 'password_view' %}">パスワード変更</a></h1>
<h1 class="logout"><a href="{% url 'logout_view' %}">ログアウト</a></h1>    
{% endblock %} >